body {
    font-family: sans-serif;
}
.title {
    font-size: 24px;
}

div.tooltip {
  color: black;
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 12px sans-serif;
  border: 1px solid;
  pointer-events: none;
  background: white;
}

.line {
  fill: none;
  stroke-opacity: 1;
  stroke-width: 3px;
}

circle {
    stroke-width: 2px;
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.priceline {
  stroke: #41B3A3;
}

.stockline {
  stroke: #E27D60;
}

#priceline_axis text{
  fill: #41B3A3;
}

#stockline_axis text{
  fill: #E27D60;
}

.nav {
  float: right;
  font-size: 0;
}

.btn {
  font: 14px sans-serif;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  transition-duration: 0.3s;
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid #41B3A3;
}
.btn:hover {
  background-color: #41B3A3;
  color: white;
}

.next_btn {
  border-left:0;
  margin-right: 100px;
}

.axis_label {fill: black; font: 12px sans-serif;}
