body {
    font-family: sans-serif;
}
.title {
    font-size: 24px;
}

div.tooltip {
  color: black;
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 12px sans-serif;
  border: 1px solid;
  pointer-events: none;
  background: white;
}

.line {
  fill: none;
  stroke-opacity: 1;
  stroke-width: 3px;
}

circle {
    stroke-width: 2px;
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.drilldownline {
  opacity: 0.6;
}

.priceline {
  stroke: #41B3A3;
}

.productionline {
  stroke: #158A5C;
}

.stockline {
  stroke: #E27D60;
}

.importline {
  stroke: #C38D9E;
}

.retailline {
  stroke: #E8A87C;
}

.axis_label {fill: black; font: 12px sans-serif;}

#priceline_axis text{
  fill: #41B3A3;
}

#productionline_axis text{
    fill: #158A5C;
}

#stockline_axis text{
  fill: #E27D60;
}

#importline_axis text{
  fill: #C38D9E;
}

#retailline_axis text{
  fill: #E8A87C;
}

.slidetext {
  float: left;
  margin-left: 10px;
  width: 75%;
  height: 4em;
}

.nav {
  float: left;
  font-size: 0;
  margin-left: 20px;
  margin-top: 0px;
}

.btn {
  font: 14px sans-serif;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  transition-duration: 0.3s;
  cursor: pointer;
  background-color: white; 
  color: black; 
}
#start_btn {
  border: 2px solid #E27D60;
}
#start_btn:hover {
  background-color: #E27D60;
  color: white;
}
#next_btn {
  border: 2px solid #41B3A3;
  border-left:0;
  opacity: 0;
}
#next_btn:hover {
  background-color: #41B3A3;
  color: white;
}
#reset_btn {
  border: 2px solid #41B3A3;
  opacity: 0;
}
#reset_btn:hover {
  background-color: #41B3A3;
  color: white;
}
#back_btn {
  border: 2px solid #41B3A3;
}
#back_btn:hover {
  background-color: #41B3A3;
  color: white;
}
