.line {
  fill: none;
  stroke: #000;
  stroke-opacity: 1;
  stroke-width: 3px;
}

#priceline {
  stroke: #41B3A3;
}

#priceline_axis text{
  fill: #41B3A3;
}

#stockline {
  stroke: red;
}

#stockline_axis text{
  fill: red;
}

.nav {
  float: right;
  font-size: 0;
}
.btn {
  font-family: sans-serif;
  font-size:14px;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  transition-duration: 0.3s;
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid #41B3A3;
}
.btn:hover {
  background-color: #41B3A3;
  color: white;
}

.next_btn {
  border-left:0;
  margin-right: 100px;
}

.axis_label {fill: black; font: 12px sans-serif;}
